.form {
  margin: 1rem 0;
  height: 15rem;
  overflow: auto;
}

.control {
  margin-bottom: 0.5rem;
}
.control label {
  display: flex;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-bottom: 0.25rem;
}

.control input {
  width: 20rem;
  font: inherit;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-width: 100%;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.actions button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.actions button:hover,
.actions button:active {
  background-color: #ffe6dc;
}

.actions .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.actions .submit:hover,
.actions .submit:active {
  background-color: #7a2706;
}
.invalid label {
  color: #aa0b20;
}
.invalid input {
  border-color: #aa0b20;
  background-color: #ffeff1;
}

.submit:disabled,
.submit:disabled:active,
.submit:disabled:hover {
  background-color: #ccc;
  color: #262626;
  border: none;
  cursor: not-allowed;
}
